language: node_js
node_js:
  - "8"
  - "9"
  - "10"

sudo: required

before_script:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3 # give xvfb some time to start
addons:
    chrome: stable

cache:
  directories:
    - "node_modules"

script:
  - npm install
  - node index.js nacimgoura
